body,html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 10px;
}
#main-container {
    width: 100%;
    height: 100%;
    position: relative;
}
#login-area {
    display: block;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
#login-form {
    text-align: left;
    width: 400px;
    position: absolute;
    color: rgba(0,0,0,0.8);
    left: 50%;
    top: 50%;
    margin: -100px auto auto -200px;
    border: solid 1px rgba(0,0,0,0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: "Fauna One", serif;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
#login-form fieldset {
    border-style: none;
    padding: 0;
    margin: 0;
}
#login-form legend {
    font-size: 2.4em; /* 24px */
    padding: .5em;
}
#form-fields {
    list-style-type: none;
    padding: 0 1em .5em 1em;
    margin: 0;
    border-top: solid 1px rgba(0,0,0,0.2);
}
.form-field {
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    padding: 5px;
}
.form-field label {
    display: block;
    font-size: 1.125em;
    margin-bottom: 3px;
    color: rgba(0,0,0,0.8);
    text-align: left;
}
#username, #password {
    height: 2.5em; /* 27.5px */
    width: 100%;

}
#login-button {
    width: 4em;
    height: 2em;
    font-size: 1em;
    font-family: "Fauna One", serif;
    border: solid 1px rgba(0,0,0,0.8);
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    background-color: tomato;
}